
.danger 
   background-color: #FD4E4E

.primary
   background-color: $primary

.title 
   text-align: left
   font-size: 18px 
   font-weight: 700
   margin: 0 0 10px 0 

.title2
   text-align: left
   font-size: 24px 
   font-weight: 700
   margin: 0 0 10px 0 

.title-line
   height: 2px
   width: 135px
   background-color: black
   margin-bottom: 10px
